/* --------------------------- webkit browsers */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  border: 1px solid #fe9f00;
  background-color: white;
  cursor: pointer;
}
/* -------------------------- Firefox */
.slider::-moz-range-thumb {
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  border: 1px solid #fe9f00;
  background-color: white;
  cursor: pointer;
}
